<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ls.core.contentProvider">
      <contentProvider
            id="procyon"
            class="dg.jdt.ls.decompiler.procyon.ProcyonDecompiler">
      </contentProvider>
   </extension>

</plugin>
