<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ls.core.contentProvider">
      <contentProvider
            id="fernflower"
            class="dg.jdt.ls.decompiler.fernflower.FernflowerDecompiler"
            priority="499">
      </contentProvider>
   </extension>
</plugin>
